body {
  background-color: #eee;
  height: 100%;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  background-color: rgb(153, 204, 153);
}
