body {
  background-color: #eee;
}

.bodywrapper {
  width: 400px;
  margin: 20px auto;
}

.article {
  overflow: hidden;
}

.article::before {
  content: "";
  clear: both;
}

.article::after {
  content: "";
  clear: both;
}

.article-image {
  float: left;
  width: 160px;
  height: 160px;
  margin-right: 1em;
  margin-bottom: 1em;
  background-color: rgb(153, 204, 153);
}

.article-body {
}
